<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
	<logger name="org.springframework" level="ERROR" />
	<appender name="cryptosim.gui" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				<pattern>%d{HH:mm:ss.SSS} > %28thread %highlight(%-5level)
					%cyan(%40logger{30}:%10L) %highlight(=>) %green(%msg) %n</pattern>
			</pattern>
		</encoder>
	</appender>
	<root level="INFO">
		<appender-ref ref="cryptosim.gui" />
	</root>
</configuration>