/* Application wide styles */

.chart {
    -fx-padding: 10px;
    -fx-background-color: black;
}

.titled-pane:focused > .title > .arrow-button .arrow {
	-fx-background-color: black;
}

.titled-pane > .title {
    -fx-pref-width: 200.0;
}


